In [1]:
import pandas as pd
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix

Naive bayes is a classification model and is based on probability.

In [2]:
df = pd.read_csv('Womens Clothing E-Commerce Reviews.csv')
df.head()

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
0,0,767,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates
1,1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses
2,2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses
3,3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants
4,4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses

In [3]:
df = df[df['Class Name']== 'Dresses']
df['review'] = (df['Rating'] > 3).astype(str)

In [4]:
df.head()

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name,review
1,1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses,True
2,2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses,False
5,5,1080,49,Not for the very petite,"I love tracy reese dresses, but this one is no...",2,0,4,General,Dresses,Dresses,False
8,8,1077,24,Flattering,I love this dress. i usually get an xs but it ...,5,1,0,General,Dresses,Dresses,True
9,9,1077,34,Such a fun dress!,"I'm 5""5' and 125 lbs. i ordered the s petite t...",5,1,0,General,Dresses,Dresses,True

In [5]:
from sklearn.feature_extraction.text import CountVectorizer

text = df['Review Text'].values.astype('U') 
vect = CountVectorizer(stop_words='english') 
vect = vect.fit(text) 
feature_names = vect.get_feature_names()
print(f"There are {len(feature_names)} words in the vocabulary. A selection:{feature_names[500:520]}")

There are 8080 words in the vocabulary. A selection:['airier', 'airiness', 'airism', 'airline', 'airplane', 'airplanes', 'airport', 'airy', 'aize', 'aka', 'akward', 'al', 'alas', 'albeit', 'alerations', 'alert', 'alexandria', 'align', 'aligned', 'alignment']

In [6]:
docu_feat = vect.transform(text)

In [7]:
print(docu_feat[0:500,0:500])

  (2, 8)	1
  (4, 72)	1
  (4, 224)	1
  (18, 210)	1
  (19, 80)	1
  (19, 435)	1
  (19, 447)	1
  (20, 38)	1
  (21, 4)	1
  (21, 45)	1
  (22, 12)	1
  (22, 248)	1
  (25, 55)	1
  (26, 40)	1
  (28, 60)	1
  (28, 226)	1
  (28, 237)	1
  (29, 436)	1
  (31, 241)	1
  (32, 104)	1
  (32, 186)	1
  (32, 233)	1
  (32, 255)	1
  (33, 428)	1
  (35, 12)	2
  :	:
  (479, 461)	1
  (480, 484)	1
  (482, 471)	1
  (483, 355)	1
  (484, 12)	1
  (484, 225)	1
  (484, 348)	1
  (485, 447)	1
  (487, 258)	1
  (487, 447)	1
  (489, 211)	1
  (489, 304)	1
  (489, 316)	1
  (491, 104)	1
  (491, 243)	1
  (491, 422)	1
  (492, 84)	1
  (492, 96)	1
  (492, 186)	1
  (492, 233)	1
  (492, 242)	1
  (492, 248)	1
  (494, 86)	1
  (494, 485)	1
  (497, 37)	1

In [8]:
df_words = pd.concat([df[0:50].reset_index(), pd.DataFrame(docu_feat.toarray()[0:50]).reset_index()], axis=1)
df_words.head(5)

,index,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,...,8070,8071,8072,8073,8074,8075,8076,8077,8078,8079
0,1,1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,...,0,0,0,0,0,0,0,0,0,0
1,2,2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,...,0,0,1,0,0,0,0,0,0,0
2,5,5,1080,49,Not for the very petite,"I love tracy reese dresses, but this one is no...",2,0,4,General,...,0,0,0,0,0,0,0,0,0,0
3,8,8,1077,24,Flattering,I love this dress. i usually get an xs but it ...,5,1,0,General,...,0,0,0,0,0,0,0,0,0,0
4,9,9,1077,34,Such a fun dress!,"I'm 5""5' and 125 lbs. i ordered the s petite t...",5,1,0,General,...,0,0,0,0,0,0,0,0,0,0

In [9]:
from sklearn.naive_bayes import MultinomialNB

nb = MultinomialNB() 
X = docu_feat 
y = df['review'] 

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1) #split the data and store it

nb = nb.fit(X_train, y_train) #fit the model X=features, y=character

#Evaluate the model
y_test_p = nb.predict(X_test)
nb.score(X_test, y_test)

0.8554852320675106

In [10]:
df['review'].value_counts(normalize=True)

True     0.758348
False    0.241652
Name: review, dtype: float64

In [11]:
cm = confusion_matrix(y_test, y_test_p)
cm = pd.DataFrame(cm)
cm

     0     1
0  282   182
1   92  1340

In [22]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_test_p))

              precision    recall  f1-score   support

       False       0.75      0.61      0.67       464
        True       0.88      0.94      0.91      1432

    accuracy                           0.86      1896
   macro avg       0.82      0.77      0.79      1896
weighted avg       0.85      0.86      0.85      1896

In [25]:
df['Review Text'][0]

'Love this dress!  it\'s sooo pretty.  i happened to find it in a store, and i\'m glad i did bc i never would have ordered it online bc it\'s petite.  i bought a petite and am 5\'8".  i love the length on me- hits just a little below the knee.  would definitely be a true midi on someone who is truly petite.'

In [27]:
for i in range(1,3):
        prob = nb.predict_proba(X[i])
        print(df['Review Text'][i])
        print(f"actual: {i}. {df.iloc[i,1]}")
        print(f"prediction: {prob[0,0]}")

Love this dress!  it's sooo pretty.  i happened to find it in a store, and i'm glad i did bc i never would have ordered it online bc it's petite.  i bought a petite and am 5'8".  i love the length on me- hits just a little below the knee.  would definitely be a true midi on someone who is truly petite.
actual: 1. 1077
prediction: 0.9999990978503296
I had such high hopes for this dress and really wanted it to work for me. i initially ordered the petite small (my usual size) but i found this to be outrageously small. so small in fact that i could not zip it up! i reordered it in petite medium, which was just ok. overall, the top half was comfortable and fit nicely, but the bottom half had a very tight under layer and several somewhat cheap (net) over layers. imo, a major design flaw was the net over layer sewn directly into the zipper - it c
actual: 2. 1080
prediction: 0.8994490532230259